.logoWrapper {
  display: flex;
  gap: 4px;
  margin-bottom: 40px;
}
.logo {
  width: 47px;
  height: 17px;
}

.logoText {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--white);
  text-transform: uppercase;

  display: none;
}

@media only screen and (min-width: 768px) {
  .logoWrapper {
    margin-bottom: 157px;
  }

  .logoText {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .logoWrapper {
    margin-bottom: 107px;
  }
}
