.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--white);
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hourGlassIcon {
  width: 16px;
  height: 16px;
  color: var(--white);
}

.chartIcon {
  width: 16px;
  height: 16px;
  color: var(--white);
}

.disabled {
  color: var(--gray);
}

.modalWrapper {
  .modalContent {
    margin: 0 auto;
    min-width: 320px;
    max-width: 335px;
    background-color: var(--light-black);
    padding: 40px;
  }
}

.closeIcon {
  width: 22px;
  height: 22px;
  color: var(--white);
}

/* ---------tablet---------- */

@media only screen and (min-width: 768px) {
  .titleWrapper {
    margin-bottom: 16px;
  }

  .title {
    font-size: 20px;
  }

  .hourGlassIcon {
    width: 20px;
    height: 20px;
  }

  .chartIcon {
    width: 20px;
    height: 20px;
  }

  .modalWrapper {
    .modalContent {
      min-width: none;
      max-width: none;
      width: 342px;
      padding: 50px;
    }
  }
}

/* ---------desktop---------- */

@media only screen and (min-width: 1440px) {
  .titleWrapper {
    margin-bottom: 20px;
  }
}
