.imgWrapper {
  position: relative;
  min-width: 320px;
  max-width: 335px;
  height: 351px;
  border-radius: 30px;
  background-color: var(--light-black);
}

.phoneImg {
  position: absolute;
  bottom: 0;
  left: 40px;
}

@media only screen and (min-width: 768px) {
  .imgWrapper {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .imgWrapper {
    display: block;
    width: 600px;
    height: 736px;
    max-width: none;
  }

  .phoneImg {
    left: 98px;
  }
}
