.wrapper {
  position: relative;
  min-width: 320px;
  max-width: 335px;
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: var(--light-black);
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--white);

  margin-bottom: 32px;
}

.btnWrapper {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  gap: 8px;
}

.swipeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid var(--gray);
  background-color: transparent;
}

.swipeIcon {
  width: 16px;
  height: 16px;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    min-width: none;
    max-width: none;
    width: 704px;
    padding: 40px;
  }

  .title {
    font-size: 28px;
    line-height: 1.14286;
    margin-bottom: 28px;
  }

  .swipeBtn {
    width: 40px;
    height: 40px;
  }

  .swipeIcon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 847px;
    margin: 0;
  }
}
