.bookImg {
  margin-bottom: 8px;
}

.bookName {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-bottom: 2px;
}

.authorName {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--light-gray);
}
