.dashboard {
  min-width: 320px;
  max-width: 335px;

  margin: 0 auto;
  border-radius: 30px;
  padding: 20px;

  background-color: var(--light-black);
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .dashboard {
    display: flex;
    min-width: none;
    max-width: none;
    width: 704px;
    min-height: 336px;
    padding: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .dashboard {
    width: 353px;
    padding: 20px;
    flex-direction: column;
    margin: 0;
    min-height: 651px;
  }
}
