.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .registerContainer {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .registerContainer {
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }
}
