.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--white);
  margin-bottom: 14px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--light-gray);
  margin-bottom: 20px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: var(--dark-gray);
  border-radius: 100%;
  padding: 24px;
  height: 80px;
  width: 80px;
}

/* ---------tablet---------- */

@media only screen and (min-width: 768px) {
  .title {
    font-size: 20px;
  }

  .text {
    margin-bottom: 50px;
  }

  .iconWrapper {
    height: 100px;
    width: 100px;
  }
}

/* ---------desktop---------- */

@media only screen and (min-width: 1440px) {
}
