.wrapper {
  position: relative;
  min-width: 320px;
  max-width: 335px;
  background-color: var(--light-black);
  border-radius: 30px;
  padding: 40px 20px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--white);
}

.select {
  width: 120px;
}

.selectOption {
  color: var(--white);
}

.dropdown {
  background-color: var(--dark-gray);
  border-radius: 12px;
}
